body {
    font-family:'papyrus', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(135, 201, 236)
}
h1{
    font-family:'papyrus', fantasy;
}
.CSfont{font-family: 'pressura' !important;}